Checks: "
  bugprone*,
  cppcoreguidelines*,
  modernize*,
  performance*,
  portability*,
  readability*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  "
